<div class="panel panel--right">
    <div class="search">

        <div class="search__form">
            <form>
                <input type="text" class="search__input" id="" name="" value="" placeholder="SEARCH" />
                <input type="submit" class="search__submit" value="Send" />
            </form>
        </div>
        <div class="search__results">
            <h3>Results</h3>
            <div class="search-result">
                <div class="search-result__thumb"><img src="assets/img/photos/image-1.jpg" alt="" title="" /></div>
                <div class="search-result__details">
                    <p>The <strong>creative adult</strong> is the child who survived</p>
                </div>
            </div>
            <div class="search-result">
                <div class="search-result__thumb"><img src="assets/img/photos/image-2.jpg" alt="" title="" /></div>
                <div class="search-result__details">
                    <p>To be creative means to be <strong>in love</strong> with life</p>
                </div>
            </div>
            <div class="search-result">
                <div class="search-result__thumb"><img src="assets/img/photos/image-3.jpg" alt="" title="" /></div>
                <div class="search-result__details">
                    <p>A designer knows he has achieved <strong>perfection</strong></p>
                </div>
            </div>
            <div class="search-result">
                <div class="search-result__thumb"><img src="assets/img/photos/image-4.jpg" alt="" title="" /></div>
                <div class="search-result__details">
                    <p><strong>Creativity</strong> is breaking out of established patterns</p>
                </div>
            </div>

        </div>

    </div>
</div>