<div class="panel panel--left">
    <!-- Slider -->
    <div class="panel__navigation">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="user-details">
                    <div class="user-details__thumb"><img src="assets/img/photos/image-16.jpg" alt="" title="" /></div>
                    <div class="user-details__title"><span>Hello</span> Alexander Joy</div>
                </div>
                <nav class="main-nav">
                    <ul>
                        <li>
                            <a href="index.html"><img src="assets/img/icons/gradient-purple/home.svg" alt="" title="" /><span>Home</span></a>
                        </li>
                        <li>
                            <a href="main.html"><img src="assets/img/icons/gradient-purple/user.svg" alt="" title="" /><span>About</span></a>
                        </li>
                        <li>
                            <a href="services.html"><img src="assets/img/icons/gradient-purple/settings.svg" alt="" title="" /><span>Services</span></a>
                        </li>
                        <li>
                            <a href="conversations.html"><img src="assets/img/icons/gradient-purple/chat.svg" alt="" title="" /><span>Messages</span></a>
                        </li>
                        <li>
                            <a href="blog.html"><img src="assets/img/icons/gradient-purple/news.svg" alt="" title="" /><span>News</span></a>
                        </li>
                        <li>
                            <a href="prices.html"><img src="assets/img/icons/gradient-purple/money.svg" alt="" title="" /><span>Prices</span></a>
                        </li>
                        <li>
                            <a href="user-profile.html"><img src="assets/img/icons/gradient-purple/user.svg" alt="" title="" /><span>Account</span></a>
                        </li>
                        <li>
                            <a href="contact.html"><img src="assets/img/icons/gradient-purple/contact.svg" alt="" title="" /><span>Contact</span></a>
                        </li>
                        <li class="subnav opensubnav"><img src="assets/img/icons/white/plus.svg" alt="" title="" /><span>More</span><i><img src="assets/img/icons/white/arrow-right.svg" alt="" title="" /></i></li>
                    </ul>
                </nav>
                <div class="buttons buttons--centered"><a href="#" class="button button--main button--small">LOGOUT</a></div>
            </div>
            <div class="swiper-slide">
                <div class="subnav-header backtonav"><img src="assets/img/icons/white/arrow-left.svg" alt="" title="" /><span>BACK</span></div>
                <nav class="main-nav">
                    <ul>
                        <li>
                            <a href="#" data-popup="social" class="open-popup"><img src="assets/img/icons/gradient-purple/love.svg" alt="" title="" /><span>Social</span></a>
                        </li>
                        <li>
                            <a href="#" data-popup="notifications" class="open-popup"><img src="assets/img/icons/gradient-purple/popup.svg" alt="" title="" /><span>Popups</span></a>
                        </li>
                        <li>
                            <a href="#" data-popup="alert" class="open-popup"><img src="assets/img/icons/gradient-purple/notifications.svg" alt="" title="" /><span>Notifications</span></a>
                        </li>
                        <li>
                            <a href="tabs-toggles.html"><img src="assets/img/icons/gradient-purple/tabs.svg" alt="" title="" /><span>Tabs</span></a>
                        </li>
                        <li>
                            <a href="forms.html"><img src="assets/img/icons/gradient-purple/form.svg" alt="" title="" /><span>Forms</span></a>
                        </li>
                        <li>
                            <a href="tables.html"><img src="assets/img/icons/gradient-purple/tables.svg" alt="" title="" /><span>Tables</span></a>
                        </li>
                        <li>
                            <a href="login.html"><img src="assets/img/icons/gradient-purple/lock.svg" alt="" title="" /><span>Login</span></a>
                        </li>
                        <li>
                            <a href="signup.html"><img src="assets/img/icons/gradient-purple/user-add.svg" alt="" title="" /><span>Signup</span></a>
                        </li>
                        <li>
                            <a href="user-profile.html"><img src="assets/img/icons/gradient-purple/user.svg" alt="" title="" /><span>Account</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>