<div class="popup popup--centered popup--shadow popup--camera">
    <div class="popup__close">
        <a href="#" class="close-popup" data-popup="camera"><img src="assets/img/icons/gradient-green/close.svg" alt=""
                title="" /></a>
    </div>
    <h2 class="popup__title">Ambil swafoto untuk melakukan absensi</h2>
    <button class="form__submit button button--main button--full bg-green" id="start-camera">Oke</button>
    <video id="video" width="320" height="240" autoplay></video>
    <button class="form__submit button button--main button--full bg-green" id="click-photo">Click Photo</button>
    <canvas id="canvas" width="320" height="240"></canvas>
</div>

<script>
    let camera_button = document.querySelector("#start-camera");
    let video = document.querySelector("#video");
    let click_button = document.querySelector("#click-photo");
    let canvas = document.querySelector("#canvas");
    let dataurl = document.querySelector("#dataurl");
    let dataurl_container = document.querySelector("#dataurl-container");

    camera_button.addEventListener('click', async function () {
        let stream = null;

        try {
            stream = await navigator.mediaDevices.getUserMedia({
                video: true,
                audio: false
            });
        } catch (error) {
            alert(error.message);
            return;
        }

        video.srcObject = stream;

        video.style.display = 'block';
        camera_button.style.display = 'none';
        click_button.style.display = 'block';
    });

    click_button.addEventListener('click', function () {
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        let image_data_url = canvas.toDataURL('image/jpeg');

        dataurl.value = image_data_url;
        dataurl_container.style.display = 'block';
    });
</script>