:root {
    --white: #FFF;
    --green: #406553;
    --light-green: #96B066;
    --yellow: #EEC200;
    --blue: #415EB6;
    --orange: #FF8A17;
    --red: #AC4040;
    --light-red: #F45656;
    --cyan: #23B0B0;
}

.line1 {
    height: 1px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.28102) 16.32%, rgba(0, 0, 0, 0.51) 85.02%, rgba(0, 0, 0, 0) 102.46%);
}

.line-md {
    height: 3px;
    background-image: #E5E5E5;
}


/* Buttons */

.bg-white {
    background: var(--white) !important;
}

.bg-green {
    background: #406553 !important;
}

.bg-green {
    background: linear-gradient(0deg, #96B066, #96B066), #FB3F4A;
}

.bg-red {
    background: linear-gradient(0deg, #F45656, #F45656), #FB3F4A;
}

.bg-light {
    background: rgba(64, 101, 83, 0.03) !important;
}


/* ========= Header ========= */

.gradient-blue,
.header--page,
.card--style-plan-premium,
.page--intro,
.page--splash,
.page--login {
    background-color: var(--green) !important;
    background: linear-gradient(60deg, var(--green) 0%, var(--green) 100%) !important;
}


/* ========= Typography ========= */

.text-green {
    color: var(--green) !important;
}

.text-light-green {
    color: var(--light-green) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-orange {
    color: var(--orange) !important;
}

.text-red {
    color: var(--red) !important;
}

.text-light-red {
    color: var(--light-red) !important;
}

.text-cyan {
    color: var(--cyan) !important;
}

.text-light {
    color: rgba(0, 0, 0, 0.5);
}

.heading {
    color: rgba(0, 0, 0, 0.76);
    font-weight: bold;
    line-height: 18px;
}


/* ========= Homepage ========= */

.section-map {
    width: 100vw;
    margin-left: -20px;
    position: relative;
    padding: 0;
    background-color: #f6f9fa;
    position: relative;
}

.card--style-icon {
    background-color: #FFF;
    box-shadow: 2px 2px 42px rgba(131, 146, 167, 0.18);
    border-radius: 12px;
}

.section-checkin {
    margin-top: -5rem;
}

.section-checkin .card {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 42px rgba(131, 146, 167, 0.18);
    border-radius: 20px;
}

.section-checkin p {
    color: #333333;
    font-size: 16px;
}

.section-checkin h2 {
    color: rgba(51, 51, 51, 0.8);
    font-size: 48px;
}

.section-circle {
    position: relative;
    text-align: center;
    margin-top: -5rem;
}

.section-circle button {
    border: 0;
}

.section-circle .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 auto 40px;
    box-shadow: 0px 0px 10px 1px rgba(150, 176, 102, 0.5);
}

.section-circle .circle p {
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 0;
}


/* ========= Dashboard & Detail Absen ========= */

.cards--11.card__job .card--style-inline {
    background: rgba(242, 244, 243, 0.27);
    border-radius: 12px;
}

.cards--11.card__job .card--style-inline:first-child {
    background: #F2F4F3;
}

.cards--11.card__job .card--style-inline .card__details {
    padding-right: 0;
}

.cards--11.card__job .card--style-inline .card__more {
    width: 70px;
    font-size: 12px;
    flex: unset;
    font-weight: 400;
}

.cards--11.card__job .card--style-inline .card__more {
    width: 70px;
    font-size: 12px;
    flex: unset;
    font-weight: 400;
    width: 25%;
}

.cards--11.card__job .card--style-inline .card__time {
    font-size: 12px;
    padding: 0px 10px 0 0;
    margin: 0px;
    display: inline-block;
    text-align: center;
    color: rgba(0, 0, 0, 0.52);
    width: 20%;
}

.cards--11.card__job .card--style-inline .card__time span {
    display: block;
    color: rgba(0, 0, 0, 0.52);
    padding: 5px 0;
}

.cards--11.card__schedule .card--style-inline .card__details .card__title,
.cards--11.card__job .card--style-inline .card__details .card__title {
    color: rgba(0, 0, 0, 0.76);
    font-weight: bold;
}

.cards--11.card__schedule .card--style-inline .card__details .card__text,
.cards--11.card__job .card--style-inline .card__details .card__text {
    font-size: 10px;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
}

.cards--11.card__schedule .card--style-inline {
    background: #FFFFFF;
    box-shadow: 2px 2px 42px rgba(131, 146, 167, 0.18);
    border-radius: 11px;
}

.cards--11 .card--style-inline .inner__time {
    text-align: center;
}

.cards--11 .card--style-inline .card__time {
    font-size: 16px;
    margin: 0px;
    display: inline-block;
}

.cards--11 .card--style-inline .card__time span {
    display: block;
    color: rgba(0, 0, 0, 0.52);
    padding: 5px 0;
    font-size: 10px;
}

.cards--11 .card__red {
    background: var(--light-red) !important;
}

.cards--11 .card__red .card__details .card__title,
.cards--11 .card__red .card__details .card__text,
.cards--11 .card__red .inner__time .card__time,
.cards--11 .card__red .inner__time .card__time span {
    color: #FFF !important;
}


/* ========= Report ========= */

.form__scroll {
    overflow-y: scroll;
    height: 200px;
    padding-bottom: 30px;
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

.box {
    position: relative;
    background: #ffffff;
    width: 100%;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
}

.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
}

.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
    background: #ecf0f5;
}

.preview-zone {
    text-align: center;
}

.preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}


/* Modal Custom */

.modal.photoModal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000
}

.modal.photoModal .modal-content {
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 60%;
    overflow-y: scroll;
    border-radius: 12px;
}

.modal.photoModal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10%;
    top: 15%;
}

.modal.photoModal .close:hover,
.modal.photoModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* ========= Setting ========= */

.section-setting {
    background: #E5E5E5;
}

.section-setting .toggle__item {
    background: #FFF;
}

.section-setting .toggle__item.toggle__logout .toggle__label span {
    position: absolute;
    right: 10px;
    top: 43%;
    display: block;
    width: 14px;
    height: 14px;
    text-align: center;
    background-image: url(../img/icons/red/logout.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 14px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}


/* ========= Animation ========= */

.login-wrapper {
    position: relative;
    text-align: center;
    background: linear-gradient(0deg, #406553, #406553), linear-gradient(130.25deg, #000000 -143.6%, #16487C 56.52%);
    color: white;
}

.login-wrapper .login__title {
    font-size: 48px;
    margin-bottom: 0;
}

.inner-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35vh;
    width: 100%;
}


/* .section-waves {
    position: absolute;
    width: 100%;
    top: 30%;
} */

.waves {
    width: 100%;
    /* height: 25vh; */
    margin-bottom: -7px;
    /*Fix for safari gap*/
    /* min-height: 100px; */
    /* max-height: 150px; */
}

.loginWave {
    position: relative;
    text-align: center;
    background-color: white;
}

.loginWave .login-form__input {
    width: calc(100% - 20px);
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    padding: 15px 10px;
    border-radius: 10px;
}

.loginWave p {
    color: #333333;
}

.loginWave .login-form__forgot-pass a {
    color: #333;
}

.loginWave .login-form {
    height: 100vh;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}